{% extends 'base.html' %}

{% block content %}

<h1>Building Data</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
    {% for data in building_data %}
      <tr>
        <th scope="row"><a href="{% url 'building_meter' data.id %}">{{data.id}}</a></th>
        <td>{{data.name}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% comment %} <br>
<h1>Meter Data</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Building ID</th>
        <th scope="col">Fuel Type</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
    {% for data in meter_data %}
      <tr>
        <th scope="row">{{data.id}}</th>
        <td>{{data.building.id}}</td>
        <td>{{data.fuel_type}}</td>
        <td>{{data.unit}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>


<br>
<h1>Meter Consumption Data</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Meter ID</th>
        <th scope="col">Consumption</th>
        <th scope="col">Reading At</th>
      </tr>
    </thead>
    <tbody>
    {% for data in meter_consumption_data %}
      <tr>
        <th scope="row">{{data.id}}</th>
        <td>{{data.meter.id}}</td>
        <td>{{data.consumption}}</td>
        <td>{{data.reading_at}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table> {% endcomment %}
{% endblock %}